<html>
 
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <head>
  
     <title>Tiago Dias</title>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0" />


   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"> 

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">


  <link type="text/css" rel="stylesheet" href="./css/froala_blocks.css">

  <style>
    .fdb-block {
      border-bottom: solid 1px #EEE;
    }
      
  </style>
    
    <header>
    <div class="container">
      <nav class="navbar navbar-expand-md">
        <a class="navbar-brand" href="index.html">
          <img src="{{ url_for('static', filename='img_logo.png') }}" height="50" alt="image">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav1">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html#Home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index.html#Projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index.html#Contacts">Contacts</a>
            </li>
          </ul>

          <ul class="navbar-nav justify-content-end d-none d-lg-flex ml-md-auto">
            <li class="nav-item">
              <a class="nav-link" href="https://plus.google.com/u/1/110451399355760339580"><i class="fa fa-google"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://twitter.com/TiagoDias_VC"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/TiagoDeMatosDias"><i class="fa fa-github"></i></a>
            </li>
          </ul>

          <a class="btn btn-empty ml-md-3" href="mailto:TiagoDeMatosDias@gmail.com">Email Me</a>
        </div>
      </nav>
    </div>
  </header>
        
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    
   
    
  </head>
  
  <body>
   
   
   <a name="Home"></a>
   
   <section class="fdb-block pb-md-0">
    <div class="container">
      <div class="row justify-content-center pb-xl-5">
        <div class="col-12 col-md-8 text-center">
          <h1>Tiago Dias</h1>
          <p class="text-h3">Having worked in the consulting for a while with great success, I feel I have acquired the professional experience to pursue my interests, namely those in the areas related to Blockchain, DevOps and Development.</p>
        </div>
      </div>

      <div class="row text-right align-items-center-lg align-items-end pt-5">
        <div class="col-7 col-sm-4 m-auto mb-md-0 mt-md-0 m-lg-auto">
          <img alt="image" class="img-fluid br-b-0" src="{{ url_for('static', filename='photo.jpg') }}">
        </div>

        <div class="col-12 col-md-7 col-lg-6 col-xl-5 m-auto text-left pt-5 pt-md-0">
          <h3><strong>Associate Consultant at TIBCO</strong></h3>
          <p>Associate consultant doing development and operations using TIBCO software in a primarily Unix environment. </p>
          <p><font size="1">Keywords: Development, Cloud, Integration, DevOps, Middleware, Linux, Automation, Bash Scripting, REST API, Jenkins</font></p>

          <h3 class="mt-4 mt-xl-5"><strong>Junior Consultant at UNIT4</strong></h3>
          <p>Started as a functional consultant working in several projects implementing and customizing Business World. Later moved on to a more technical position doing data migration for Student Management software.</p>
          <p><font size="1">Keywords: Consulting, SQL, Data Migration</font></p>    
                
          <h3 class="mt-4 mt-xl-5"><strong>Information Management at NOVA-IMS</strong></h3>
          <p>Bachelors degree in information management, a course primarily focused on Statistics, Econometrics alongside computing and Big Data </p>
          <p><font size="1">Keywords: Statistics, Programming, Operations Research, Databases, Big Data</font></p>
        </div>
      </div>
    </div>
  </section>

   <a name="Projects"></a>

  <section class="fdb-block">
    <div class="container">
      <div class="row text-center">
        <div class="col-12">
          <h1>Previous Projects</h1>
        </div>
      </div>

      <div class="row text-center justify-content-center mt-5">
        <div class="col-12 col-sm-4 col-xl-3 m-md-auto">
          <img alt="image" class="fdb-icon" src="{{ url_for('static', filename='train.svg') }}" height="75">
          <h3><strong>DeutscheBahn</strong></h3>
          <p>Development, Upgrading and Deployment of Business Works projects </p>
        </div>

        <div class="col-12 col-sm-4 col-xl-3 m-auto pt-4 pt-sm-0">
          <img alt="image" class="fdb-icon" src="{{ url_for('static', filename='piggy-bank.svg') }}" height="75">
          <h3><strong>Postbank</strong></h3>
          <p>As part of the operations team, responsible for weekly deployments and troubleshooting using Jenkins</p>
        </div>

        <div class="col-12 col-sm-4 col-xl-3 m-auto pt-4 pt-sm-0">
          <img alt="image" class="fdb-icon" src="{{ url_for('static', filename='university.svg') }}" height="75">
          <h3><strong>Unit4</strong></h3>
          <p>As part of the Data Migration team, responsible for multi-stage SQL scripting</p>
        </div>
      </div>
    </div>
  </section>
    
       <a name="Contacts"></a>
          
  <section class="fdb-block bg-gray">
    <div class="container">
      <div class="row text-center justify-content-center">
        <div class="col-12 col-md-8 col-lg-7">
          <p class="text-h2">TiagodeMatosDias@gmail.com</p>
          <p class="text-h3">Feel free to email me for business enquiries.</p>
          <p><br></p>
          <p class="text-h2">
            <a href="https://twitter.com/TiagoDias_VC"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;&nbsp;
            <a href="https://github.com/TiagoDeMatosDias"><i class="fa fa-github"></i></a>&nbsp;&nbsp;&nbsp;
            <a href="https://plus.google.com/u/1/110451399355760339580"><i class="fa fa-google"></i></a>
          </p>
        </div>
      </div>
    </div>
  </section>
    
   <footer class="fdb-block footer-small">
    <div class="container">
      <div class="row text-center">
        <div class="col">
          <p>&copy; 2018 Tiago Dias. All Rights Reserved</p>
        </div>
      </div>
    </div>
  </footer>
    
  </body>
</html>
